.fade-enter {
    opacity: 0;
    max-height: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    max-height: 20px;
    transition: all 500ms;
  }
  
  
  .fade-exit {
    max-height: 20px;
    opacity: 1;
  }
  
  .fade-exit-active {
    max-height: 0px;
    opacity: 0;
    transition: all 500ms;
  }