:root {
  --toggler-bg-color: #ffbf00;
  --toggler-active-bg-color: 	#ffcf40;
  --toggler-width: 120px;
  --toggler-height: 40px;
  --card-bg-color: 		#ffdc73;
  --card-starting-top: 0px;
  --card-ending-top: 45px;
  --card-width: 200px;
  --card-max-height: 200px;
}

.container {
  position: relative;
}

.toggler {
  position: relative;
  z-index: 1;
  width: var(--toggler-width);
  height: var(--toggler-height);
  background-color: var(--toggler-bg-color);
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background-color 350ms;
}

.toggler--active {
  background-color: var(--toggler-active-bg-color);
}

.card {
  position: absolute;
  top: var(--card-ending-top);
  box-sizing: border-box;
  width: var(--card-width);
  padding: 0 20px;
  overflow: hidden;
  background-color: var(--card-bg-color);
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.balloon-enter {
  top: var(--card-starting-top);
  width: var(--toggler-width);
  max-height: var(--toggler-height);
  color: transparent;
  background-color: var(--toggler-bg-color);
}

.balloon-enter-active {
  top: var(--card-ending-top);
  width: var(--card-width);
  max-height: var(--card-max-height);
  color: black;
  background-color: var(--card-bg-color);
  transition: all 350ms;
}

.balloon-exit {
  top: var(--card-ending-top);
  width: var(--card-width);
  max-height: var(--card-max-height);
  color: black;
  background-color: var(--card-bg-color);
}

.balloon-exit-active {
  top: var(--card-starting-top);
  width: var(--toggler-width);
  max-height: var(--toggler-height);
  color: transparent;
  background-color: var(--toggler-bg-color);
  transition: all 350ms;
}
